@page "/nuevo-campos-homologacion/{IdPadre:int}"
@page "/editar-campos-homologacion/{IdPadre:int}/{Id:int}"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using ClientApp.Services.IService
@using ClientApp.Models;
@attribute [Authorize]

<PageTitle>Formulario de Esquema</PageTitle>

<EditForm Model="homologacion" OnValidSubmit="GuardarHomologacion" class="pt-4">
    <DataAnnotationsValidator />

    <div class="card border p-4">
        <div class="card-body">
            <h3 class="text-success text-center">
                <strong>Actualizar / Registrar [@homologacionGrupo?.MostrarWeb]</strong>
            </h3>

            <hr style="background-color:aliceblue" />

            <div class="form-row py-2">
                <label class="col-form-label">Código Homologado</label>
                <div class="col">
                    <InputText @bind-Value="homologacion.NombreHomologado" class="form-control" placeholder="ingresar..." />
                    <ValidationMessage For="(()=>homologacion.NombreHomologado)" />
                </div>
            </div>

            <div class="form-row py-2">
                <label class="col-form-label">Texto a Mostrar en la Web</label>
                <div class="col">
                    <InputText @bind-Value="homologacion.MostrarWeb" class="form-control" placeholder="ingresar..." />
                    <ValidationMessage For="(()=>homologacion.MostrarWeb)" />
                </div>
            </div>

            <div class="form-row py-2">
                <label class="col-form-label">Tooltip Web</label>
                <div class="col">
                    <InputText @bind-Value="homologacion.TooltipWeb" class="form-control" placeholder="ingresar..." />
                    <ValidationMessage For="(()=>homologacion.TooltipWeb)" />
                </div>
            </div>

            <div class="form-group row py-2">
                <div class="col-md-4">
                    <label class="col-form-label">Tipo de Dato</label>
                    <div>
                        <Dropdown AutoClose="true">
                            <DropdownToggleButton Color="ButtonColor.Secondary">
                                @homologacion?.MascaraDato
                            </DropdownToggleButton>
                            <DropdownMenu>
                                <DropdownItem @onclick="@(() => OnAutoCompleteChanged("TEXTO"))">TEXTO</DropdownItem>
                                <DropdownItem @onclick="@(() => OnAutoCompleteChanged("FECHA"))">FECHA</DropdownItem>
                                <DropdownItem @onclick="@(() => OnAutoCompleteChanged("NUMERICO"))">NUMERICO</DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                        <ValidationMessage For="(()=>homologacion.MascaraDato)" />
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="col-form-label">Si No Hay Dato</label>
                    <InputText @bind-Value="homologacion.SiNoHayDato" class="form-control" placeholder="ingresar..." maxlength="10" />
                    <ValidationMessage For="(()=>homologacion.SiNoHayDato)" />
                </div>

                <div class="col-md-4">
                    <label class="col-form-label">Ancho Columna</label>
                    <InputNumber @bind-Value="homologacion.AnchoColumna" class="form-control" placeholder="ingresar..." />
                    <ValidationMessage For="(()=>homologacion.AnchoColumna)" />
                </div>
            </div>

        </div>
    </div>
</EditForm>

<div class="py-2">
    <hr style="background-color:aliceblue" />
    <Button @ref="saveButton" Color="ButtonColor.Success" @onclick="async () => await GuardarHomologacion()">
        Guardar
    </Button>
</div>