@page "/acceder"

<PageTitle>Acceder</PageTitle>

<div class="py-4">
    <div class=" row form-group ">
        <div class="col-6 offset-3 ">
            <div class="card border">
                <div class="card-body px-lg-5 pt-4">
                    <h3 class="col-12 text-success text-center py-2">
                        <strong>Acceder</strong>
                    </h3>

                    <EditForm EditContext="@editContext">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        @if(!string.IsNullOrEmpty(@alertMessage)) {
                            <Alert Color="AlertColor.Danger" Dismissable="false"> <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>@alertMessage </Alert>
                        }

                        <div class="form-row py-2">
                            <InputText @bind-Value="usuarioAutenticacion.Email" id="email" placeholder="Nombre usuario..." class="form-control mb-2" />
                            <ValidationMessage For="(()=>usuarioAutenticacion.Email)"></ValidationMessage>
                        </div>

                        <div class="form-row py-2">
                            <InputText @bind-Value="usuarioAutenticacion.Clave" type="password" placeholder="Password..." id="clave" class="form-control mb-2" style="height: auto;padding: .375rem .75rem;" />
                            <ValidationMessage For="(()=>usuarioAutenticacion.Clave)"></ValidationMessage>
                        </div>

                        <div class="form-row">
                            <Button @ref="saveButton" Color="ButtonColor.Success" @onclick="async()=> await AccesoUsuario()">
                                Acceder
                            </Button>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
</div>