@page "/recuperar"

<PageTitle>Recuperar Clave</PageTitle>

<div class="py-4">
    <div class=" row form-group ">
        <div class="col-6 offset-3 ">
            <div class="card border">
                <div class="card-body px-lg-5 pt-4">
                    <h3 class="col-12 text-success text-center py-2">
                        <strong>Recuperar Clave</strong>
                    </h3>

                    <EditForm Model="usuarioRecuperacion" OnValidSubmit="RecuperarClave">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        @if(!string.IsNullOrEmpty(@alertMessage)) {
                            <Alert Color="AlertColor.Danger" Dismissable="false"> <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>@alertMessage </Alert>
                        }

                        <div class="form-row py-2">
                            <InputText @bind-Value="usuarioRecuperacion.Email" id="email" placeholder="Nombre usuario..." class="form-control mb-2" />
                            <ValidationMessage For="(() => usuarioRecuperacion.Email)"></ValidationMessage>
                        </div>

                        <div class="form-row d-grid gap-2">
                            <Button @ref="saveButton" Type="ButtonType.Submit" Color="ButtonColor.Success">
                                Recuperar
                            </Button>
                            <div class="d-md-flex justify-content-md-end mt-2">
                                <Button Type="ButtonType.Link" Color="ButtonColor.Link" To="acceder"> Acceder </Button>
                            </div>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
</div>