body {
    font-family: 'Roboto', sans-serif;
}
/* Estilos para los contenedores */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .results-container {
    display: flex;
    justify-content: center;
  }
  
  /* Estilos para los elementos de entrada y selectores */
  input[type="text"] {
    padding: 10px;
    font-size: 16px; /* Ajusta el tamaño del texto */
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin: 4px;
    width: 500px; /* Ajusta el ancho del input según tu preferencia */
  }
  
  /* Estilos para la tabla de resultados */
  #search-results {
    border-collapse: collapse;
    width: 80%;
  }
  
  #search-results th, #search-results td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #search-results th {
    background-color: #f2f2f2;
    text-align: left;
  }
 
