version: '3.9'

networks:
  databases:
    driver: bridge
  mssql-network:
    driver: bridge

volumes:
  mssqldata:
    driver: local
  sqldata:
    driver: local
  sqllog:
    driver: local
  sqlbackup:
    driver: local
  sqlite_data:
    external: true

services:
  mssql:
    container_name: mssql-container
    image: aruponse/sqlserver-fts:0.0.2
    env_file:
      - mssql.env
      - mssqlPass.env
    environment:
      MSSQL_PID: "Express"
      SA_PASSWORD: "pat_mic_DBKEY"
      ACCEPT_EULA: "Y"
    ports:
      - '1434:1433'
    networks:
      - databases
    restart: always
    volumes:
      - ./volumes/mssql/data:/var/opt/mssql/data
      - ./volumes/mssql/log:/var/opt/mssql/log
  mysql:
    image: mysql:latest
    container_name: mysql-container
    env_file:
      - mysql.env
    ports:
      - "3306:3306"
    volumes:
      - ./volumes/mysql-data:/var/lib/mysql:rw
    networks:
      - databases
  sqlite:
    image: alpine:latest
    container_name: sqlite-container
    command: sh -c "apk --no-cache add sqlite && cp /data/initial-Colombia.sqlite /data/Colombia.sqlite && sqlite3 /data/Colombia.sqlite < /data/query/COLOMBIA.sql && tail -f /dev/null"
    volumes:
      - ./database:/data
    networks:
      - databases
  mail:
    image: bytemark/smtp
    restart: always
    ports:
      - "25:25"
      - "8080:8080"
      - "8085:8085"
  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: mailhog-container
    ports:
      - "1025:1025"
      - "8025:8025"


  # NO es necesario un server
  # sqlitebrowser:
  #   image: linuxserver/sqlitebrowser
  #   container_name: sqlitebrowser
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - sqlite
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=UTC
  #     - ENABLE_UWSGI=true
  #   volumes:
  #     - sqlite_data:/data/db
  #   networks:
  #     - sqlite-network
