@page "/"

<PageTitle>Inicio</PageTitle>

<h1 class="Últimos Posts">Hello, world!</h1>

@code{
    //Método para el Toastr
    // private async Task DemoSuccess()
    // {
    //     //await JsRuntime.InvokeVoidAsync("ShowToastr", "success", "Tarea completada!");
    //     await JsRuntime.ToastrSuccess("Tarea completada!");
    // }

    // private async Task DemoError()
    // {
    //     //await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Error completando tarea!");
    //     await JsRuntime.ToastrError("Error, Tarea incompletada!");
    // }
}

