@page "/editar-grupos/{Id:int}"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using ClientApp.Services.IService
@using ClientApp.Models;
@attribute [Authorize]

<PageTitle>Formulario de Esquema</PageTitle>

<EditForm Model="homologacion" OnValidSubmit="GuardarHomologacion" class="pt-4">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="card border p-4">
        <div class="card-body">
            <h3 class="text-success text-center">
                <strong>Actualizar Registro de Grupo</strong>
            </h3>

            <hr style="background-color:aliceblue" />

            <div class="form-row py-2">
                <label class="col-form-label">Código Homologado</label>
                <div class="col">
                    <InputText @bind-Value="homologacion.NombreHomologado" class="form-control" placeholder="ingresar..." />
                    <ValidationMessage For="(()=>homologacion.NombreHomologado)" />
                </div>
            </div>

            <div class="form-row py-2">
                <label class="col-form-label">Texto a Mostrar en la Web</label>
                <div class="col">
                    <InputText @bind-Value="homologacion.MostrarWeb" class="form-control" placeholder="ingresar..." />
                    <ValidationMessage For="(()=>homologacion.MostrarWeb)" />
                </div>
            </div>

            <div class="form-row py-2">
                <label class="col-form-label">Tooltip Web</label>
                <div class="col">
                    <InputText @bind-Value="homologacion.TooltipWeb" class="form-control" placeholder="ingresar..." />
                    <ValidationMessage For="(()=>homologacion.TooltipWeb)" />
                </div>
            </div>

        </div>
    </div>
</EditForm>

<div class="py-2">
    <hr style="background-color:aliceblue" />
    <Button @ref="saveButton" Color="ButtonColor.Success" @onclick="async () => await GuardarHomologacion()">
        Guardar
    </Button>
</div>