@page "/nuevo-usuario"
@page "/editar-usuario/{Id:int}"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using ClientApp.Services.IService
@using SharedApp.Models;
@attribute [Authorize]

<PageTitle>Formulario Usuarios</PageTitle>

<EditForm Model="usuario" OnValidSubmit="RegistrarUsuario" class="pt-4">
    <DataAnnotationsValidator />

    <div class="card border">
        <div class="card-body px-lg-5 pt-4">
            <h3 class="text-success text-center py-2">
                <strong>Información Principal</strong>
            </h3>

            <hr style="background-color:aliceblue" />
            <div class="py-2">
                <InputText @bind-Value="usuario.Nombre" class="form-control" placeholder="Nombre..." />
                <ValidationMessage For="(() => usuario.Nombre)" />
            </div>

            <div class="py-2">
                <InputText @bind-Value="usuario.Apellido" class="form-control" placeholder="Apellido..." />
                <ValidationMessage For="(() => usuario.Apellido)" />
            </div>

            <div class="py-2">
                <InputText @bind-Value="usuario.Email" class="form-control" placeholder="Email..." />
                <ValidationMessage For="(() => usuario.Email)" />
            </div>

            <div class="py-2">
                <InputText @bind-Value="usuario.Telefono" class="form-control" placeholder="Teléfono..." />
                <ValidationMessage For="(() => usuario.Telefono)" />
            </div>

            <div class="py-2">
                <Dropdown AutoClose="true">
                    <DropdownToggleButton Color="ButtonColor.Secondary">
                        @usuario.Rol
                    </DropdownToggleButton>
                    <DropdownMenu>
                        <DropdownItem @onclick="@(() => OnAutoCompleteChanged("USER"))">USER</DropdownItem>
                        <DropdownItem @onclick="@(() => OnAutoCompleteChanged("ADMIN"))">ADMIN</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
                <ValidationMessage For="(() => usuario.Rol)" />
            </div>

            <div class="form-row py-2">
                <div class="col">
                    <InputText @bind-Value="usuario.Clave" type="password" id="password" placeholder="Clave..." class="form-control" />
                    <ValidationMessage For="(() => usuario.Clave)" />
                </div>
            </div>

            <div class="py-2">
                <hr style="background-color:aliceblue" />
                <Button @ref="saveButton" Type="ButtonType.Submit" Color="ButtonColor.Success">
                    Guardar
                </Button>
            </div>
        </div>
    </div>
</EditForm>