<Tabs @ref="tabs" EnableFadeEffect="true">
    @if (listaEsquemas != null) {
        @foreach(var esquema in listaEsquemas) {
            <Tab Title="@esquema.MostrarWeb">
                <Content>
                    <div class="py-2">
                        <span style="font-size: 10px;">@esquema.TooltipWeb</span>
                    </div>
                    <div class="py-1">
                        <EsquemaModalGrillaTab homologacionEsquema="@esquema" />
                    </div>
                </Content>
            </Tab>
        }
    }
</Tabs>