<Tabs @ref="tabs" EnableFadeEffect="true">
    @if (listaEsquemas != null) {
        @foreach(var esquema in listaEsquemas) {
            <Tab>
                <TitleTemplate>
                    <Tooltip Title="@esquema.TooltipWeb">@esquema.MostrarWeb</Tooltip>
                </TitleTemplate>
                <Content>
                    <div class="py-2">
                        <EsquemaModalGrillaTab IdHomologacionEsquema="@esquema.IdHomologacionEsquema" IdDataLakeOrganizacion="@dataLake.IdDataLakeOrganizacion" />
                    </div>
                </Content>
            </Tab>
        }
    }
</Tabs>