@page "/administracion"

<PageTitle>Administración</PageTitle>

<div class="page-container">
    <div class="container">
        <div class="row">
            <NavMenuAdministracion />
        </div>
    </div>
</div>