<aside class="span4 page-sidebar">
    <section class="widget">
        <h3 class="title">Buscador OEA</h3>
        <ul class="articles">
            <li class="article-entry standard">
                <h4><a href="single.html">Conexiones</a></h4>
            </li>
            <li class="article-entry standard">
                <h4><a href="single.html">Armonización</a></h4>
            </li>
            <li class="article-entry standard">
                <h4><a href="usuarios">Usuarios</a></h4>
            </li>
            <li class="article-entry standard">
                <h4><a href="single.html">Perfiles</a></h4>
            </li>
            <li class="article-entry standard">
                <h4><a href="single.html">Estadísticas</a></h4>
            </li>
            <li class="article-entry standard">
                <h4><a href="single.html">Sinónimos</a></h4>
            </li>
            <li class="article-entry standard">
                <h4><a href="salir">Salir</a></h4>
            </li>
        </ul>
    </section>
</aside>