@page "/nuevo-esquema"
@page "/editar-esquema/{Id:int}"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using ClientApp.Services.IService
@using ClientApp.Models;
@attribute [Authorize]

<PageTitle>Formulario de Esquema</PageTitle>

<EditForm Model="homologacionEsquema" OnValidSubmit="GuardarHomologacionEsquema" class="pt-4">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="card border p-4">
        <div class="card-body">
            <h3 class="text-success text-center">
                <strong>Información Principal</strong>
            </h3>

            <hr style="background-color:aliceblue" />
            <div class="py-2 input-group">
                <InputNumber @bind-Value="homologacionEsquema.MostrarWebOrden" class="form-control" placeholder="Mostrar web orden..." />
                <ValidationMessage For="(()=>homologacionEsquema.MostrarWebOrden)" />

            </div>

            <div class="py-2 input-group">
                <InputText @bind-Value="homologacionEsquema.MostrarWeb" class="form-control" placeholder="Mostrar web..." />
                <ValidationMessage For="(()=>homologacionEsquema.MostrarWeb)" />

            </div>

            <div class="form-row py-2">
                <div class="col">
                    <InputTextArea @bind-Value="homologacionEsquema.TooltipWeb" class="form-control" placeholder="Tooltip Web..." />
                    <ValidationMessage For="(()=>homologacionEsquema.TooltipWeb)" />
                </div>

            </div>
        </div>
    </div>
</EditForm>
<div class="py-2">
    <AutoComplete @bind-Value="homologacionName"
        TItem="VwHomologacion"
        DataProvider="VwHomologacionDataProvider"
        PropertyName="MostrarWeb"
        Placeholder="Search a columna..."
        OnChanged="(VwHomologacion vwHomologacion) => OnAutoCompleteChanged(vwHomologacion)" />
</div>
<div class="py-2">
    <Grid TItem="HomologacionEsquemaColumnas" class="table table-hover table-bordered table-striped" Data="lista" Responsive="true" FixedHeader="true" Height="350" Id="sortableGrid">
        <GridColumn TItem="HomologacionEsquemaColumnas" HeaderText="Código" PropertyName="Codigo">
            <EditTemplate Context="context">
                <input @bind="context.Codigo" />
            </EditTemplate>
            <input type="hidden" value="@context.Id" />
        </GridColumn>
        <GridColumn TItem="HomologacionEsquemaColumnas" HeaderText="Nombre" PropertyName="Nombre">
            <EditTemplate Context="context">
                <input @bind="@context.Nombre" />
            </EditTemplate>
        </GridColumn>
        <GridColumn TItem="HomologacionEsquemaColumnas" HeaderText="Descripción" PropertyName="Descripcion">
            <EditTemplate Context="context">
                <input @bind="@context.Descripcion" />
            </EditTemplate>
        </GridColumn>
        <GridColumn TItem="HomologacionEsquemaColumnas" HeaderText="Tipo Dato" PropertyName="TipoDato">
            <EditTemplate Context="context">
                <select @bind="context.TipoDato">
                    <option value="Texto"> Texto </option>
                    <option value="Fecha"> Fecha </option>
                </select>
            </EditTemplate>
        </GridColumn>
        <GridColumn TItem="HomologacionEsquemaColumnas" HeaderText="Sin Datos" PropertyName="SinDatos">
            <EditTemplate Context="context">
                <input @bind="@context.SinDatos" />
            </EditTemplate>
        </GridColumn>
        <GridColumn TItem="HomologacionEsquemaColumnas" HeaderText="Eliminar">
            <Button Color="ButtonColor.Danger" Outline="true" @onclick="() => EliminarElemento(context.Id)" Size="Size.Small">
                <Icon Name="IconName.Trash3" />
            </Button>
        </GridColumn>
    </Grid>
    <div class="py-2">
        <hr style="background-color:aliceblue" />
        <Button Color="ButtonColor.Primary" @onclick="() => AgregarElemento()">Agregar</Button>
    </div>
</div>
<div class="py-2">
    <hr style="background-color:aliceblue" />
    <Button @ref="saveButton" Color="ButtonColor.Success" @onclick="async () => await GuardarHomologacionEsquema()">
        Guardar
    </Button>
</div>