@page "/esquemas"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using ClientApp.Models;
@attribute [Authorize]

<PageTitle>Homologaci贸n Esquemas</PageTitle>

<h3>Administaci贸n de Homologaci贸n Esquemas</h3>
<Modal @ref="modal" Size="ModalSize.ExtraLarge"/>
<Grid @ref="grid" TItem="HomologacionEsquema" class="table table-hover table-bordered table-striped" DataProvider="EsquemasDataProvider" Responsive="true" Id="sortableGrid">
    <GridColumn TItem="HomologacionEsquema" HeaderText="Mostrar Web" PropertyName="MostrarWeb">
        @context.MostrarWeb
        <input type="hidden" value="@context.IdHomologacionEsquema" />
    </GridColumn>
    <GridColumn TItem="HomologacionEsquema" HeaderText="Descripci贸n" PropertyName="Tooltip Web">
        @context.TooltipWeb
    </GridColumn>
    <GridColumn TItem="HomologacionEsquema" HeaderText="Columnas">
        <Button Color="ButtonColor.Secondary" Outline="true" Size="Size.Small" @onclick="() => showModal(context.IdHomologacionEsquema)">
            <Icon Name="IconName.Front" />
        </Button>
    </GridColumn>
    <GridColumn TItem="HomologacionEsquema" HeaderText="Editar">
        <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" To="@($"/editar-esquema/{context.IdHomologacionEsquema}")" Size="Size.Small">
            <Icon Name="IconName.PencilSquare" />
        </Button>
    </GridColumn>
    <GridColumn TItem="HomologacionEsquema" HeaderText="Eliminar">
        <Button Color="ButtonColor.Danger" Outline="true" @onclick="async () => await OnDeleteClick(context.IdHomologacionEsquema)" Size="Size.Small">
            <Icon Name="IconName.Trash3" />
        </Button>
    </GridColumn>
</Grid>
<p>
    <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/nuevo-esquema">Nuevo</Button>
</p>